
path {
  fill: none;
  stroke: none;
}

.texto_titulo,.bubble-tool{
fill:rgba(255,255,255,0.8);
}

.input_topico_seleccionado{
  color:orange;
  background: none;
  border: none;
  padding-left:  20px;
  font-size: 1.2em;
}

.tick{
  fill:white;
}

.circleGuideTitle,.circleGuideLabelSmall,.circleGuideLabelMedium,.circleGuideLabelLarge{

    fill:white;



}

.xaxis .tick.major {
    fill: black;
    stroke: black;
    stroke-width: 0.1;
    opacity: 0.7;
}

.slideraxis {
    fill: white;
    stroke: white;
    stroke-width: 0.4;
    opacity: 0.8;
}

.txt{
fill:white;
  stroke:white;

}
.terms{
  fill:rgba(255,255,255,0.8);
}

text {
    font-family: sans-serif;
    font-size: 11px;
}

.container {
  //width:1350px !important;
}

.output_area {
  //width:1450px !important;
}
