.form-signin {
    padding: 15px;
    margin: 0 auto;
}

 
.form-signin .form-control {
    font-size: 16px;
    height: auto;
    padding: 10px;
}

.btn {
    font-size: 16px;
    height: auto;
}

.form-signin input[type="text"] {
    margin-bottom: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.vertical-align {
/*
    display: flex;
    align-items: center;
   */
    margin-top: 25%;
    margin-bottom: 25%;
}
.panel {
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
