*{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.container{
  //margin-left: 40px;
  width: 1240px;
}

.nav-tabs li{
  width: 200px;
  text-align: center;
}

.menu_gapmap{
  text-align: center;
}

#lista_gapmaps{
  padding-left: 10px;
  font-size: 1.1em;
  color:rgb(181,137,0);
  text-transform: uppercase;
}
#lista_gapmaps li:hover{
  color:steelblue;
  cursor: pointer;
}

.dropdown-menu{
   min-width:180px;
}

.svg-container{
  z-index: 1000;
}
.index_pos{
  position: absolute;
  left: 11px;
font-size: 0.8em;
top: 12px;
}

.numero_met_top{
  font-size: 1em;
  color:rgb(181,137,0);
}

#matriz{
  position: absolute;
}

.celda{
  cursor: pointer;
}

.Matrix_dashboard{
  position: relative;
  width: 1210px;
  background-color: #073642;
  height: 330px;
}



.Matrix_dashboard h4{
  position: absolute;
  color:#fff;
  font-size: 0.9em;
  display: inline-block;
  left: 1040px;
  top: 62px;
}

.tooltip_2 {
    min-width: 60px;
    max-width: 120px;
    background-color: rgba(181,137,0,0.8);
    color: white;
    border-radius: 3px 3px 3px 3px;
    padding: 5px;
    text-align: center;
   font-size: 0.8em;
}

.svg_escala{
position: absolute;
top: 102px;
left: 740px;
z-index: 0;
}

.cuadros{
  fill: rgb(38,139,210);
}

.ejeBlanco path{
  fill:#fff;
  opacity:0;
}

.ejeBlanco text{
  fill:#fff;
  font-size:12px;
}

.articulos{
//padding-top: 30px;
//padding-right: 30px;
position: absolute;
left: 802px;
//text-align: left;
height: 283px;
background-color: #073642;
top:47px;
}

.articulos h4{
  color:#fff;
  font-size: 0.9em;
  display: inline-block;
}

.articulos p{
  //padding: 0;

}

.titulo_met_top{
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  color: rgb(181,137,0);
  text-transform: uppercase;
}
#lista_articulos{
  list-style: none;
  height: 240px;
  overflow-x: auto;
  overflow-y: auto;
  padding-left: 10px;
  padding-top: 10px;
  width: 180px;
  //background-color: red;
}

.articulos_grafica{
 position: absolute;
 padding-top: 80px;
 padding-left: 10px;
 padding-right: 10px;
 left: 980px;
 top:10px;
}

.dropdown{
  display: inline-block;
  position: absolute;
  top: 8px;
  z-index: 10000;
}

.dropdown-menu li a{
  font-size: 1.2em;
  color: #FAD7A0;
}

h2{
  text-align: center;
}

.tab-content{
  position: relative;
}

.help_matrix_icon{
  position: absolute;
color: rgb(181,137,0);
left: 1173px;
top: 12px;
font-size: 1.5em;

}

.help_matrix_icon:hover{
color: #fff;
cursor: pointer;
}

.help_matrix_icon:hover + .help_matrix{
display: block;

}

.help_matrix{
  display: none;
  position: absolute;
top: 10px;
left: 796px;
width: 400px;
height: 310px;
background: rgba(0,0,0,0.8);
background: rgba(7, 54, 66, 1);
z-index: 10000;
padding: 20px;
color: rgb(181,137,0);
border: solid 1px;
}

.help_matrix p{
color:rgba(255, 255, 255, 0.7);
}

.help_matrix:hover{
display: block;
}


.help_lda_icon{
  //position: absolute;
color: rgb(181,137,0);
left: 1173px;
top: 5px;
font-size: 1.5em;

}

.help_lda_icon:hover{
color: #fff;
cursor: pointer;
}

.help_lda_icon:hover + .help_lda{
display: block;

}

.help_lda{
  display: none;
  position: absolute;
top: 4px;
left: 673px;
//width: 400px;
//height: 120px;
//background: rgba(0,0,0,0.6);
background: rgba(7, 54, 66, 1);
//background: red;
z-index: 10000;
padding: 20px;
color: rgb(181,137,0);
border: solid 1px;
}

.help_lda:hover{
display: block;
}

.help_lda:hover + .help_lda_icon{
color: #fff;
}

.close_help_lda_icon{
  position: absolute;
top: 5px;
left: 497px;
font-size: 1.4em;
color: #fff;
}

.notification_metho{
  position: absolute;
  top: -10px;
  left: 172px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  padding: 2px;
  color: #fff;
  text-align: center;
  background:rgb(181,137,0);
}

.notification_topic{
  position: absolute;
  top: -10px;
  left: 172px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  padding: 2px;
  color: #fff;
  text-align: center;
  background:rgb(181,137,0);
}

.tab-pane{
  height: 820px;
}

.graficas_lda{
  //padding-top: 50px;
  width: 1210px;
  background-color: #073642;
  //padding-left: 10px;
}

.graficas_barras{
  background-color: #073642;
}


.tab-content{
  background-color: #073642;
}

.nav-tabs{
  //background-color: #073642;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background-color: #073642;
}

.points,.dot{
  pointer-events: none;
}
