<!DOCTYPE html>
{% load static %}
<head>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/solar/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/ldavis.css' %}">
    <title>{% block title %}CESED Gap Maps{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="padding-top:15px">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="#">CESED Gap Maps</a>
    </div>
    <div class="dropdown" style="padding-top:15px">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Switch Gapmap
      <span class="caret"></span></button>
      <ul id="lista_gapmaps" class="dropdown-menu"></ul>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <!--<p style="display:inline-block;margin-right:160px;font-size:1.2em;color:#fff;"><span class="glyphicon glyphicon-info-sign"></span> Video Guide: <a href="https://www.youtube.com/watch?v=xQqoXq_c5hQ" target="_blank">Gapmaps Tool</a></p-->
          <!--<p style="display:inline-block;color:#fff;margin-right:12px;margin-top:14px;"></p -->
          <img style="background:#fff;" src="http://quantil.co/wp-content/uploads/2018/02/logo.jpg" width="160px" alt="Logo_uniandes">
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div style="display:inline-flex; position:absolute; background:#073642; padding:12px;"><p>Feel free to send comments </p><p> &nbsp and update requests to :</p><a href="mailto:cesed@uniandes.edu.co"> cesed@uniandes.edu.co</a></div>
<div style="display:inline-flex; position:absolute; background:#073642; padding:12px; right:10px;><span class="glyphicon glyphicon-info-sign"></span>You can watch a video guide here : <a href="https://www.youtube.com/watch?v=xQqoXq_c5hQ" target="_blank">Gapmaps Tool</a></div>
{% block body %}{% endblock %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block scripts %}
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
{% endblock %}
</body>
