<!DOCTYPE html>
{% load static %}
<head>
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="https://bootswatch.com/solar/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>{% block title %}CESED Gap Maps{% endblock %}</title>
</head>
<body>
<div class="container">
    <div class="row vertical-align">
        <div class="col-sm-8 col-md-4 col-md-offset-4">
	    <div class="panel panel-success middle">
                <div class="panel-heading">
                    <h1 class="panel-title" id="question">Login to Gap Maps</h1>
                </div>

	        <div class="panel-body">
                <div class="account-wall">
                    <form class="form-signin" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    {% endif %}
	            <label for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
	            <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
		    <label for=submit"></label>
                    <button class="btn btn-md btn-success btn-block" type="submit" id="submit">
                        Sign in</button>
                    </form>
		</div>
                </div>
	    </div>
        </div>
    </div>
</div>

{% block body %}{% endblock %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block scripts %}
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
{% endblock %}
</body>
