{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class='container'>
	<div class="titulo_gapmap">
		<h2 id="titulo_gapmap"></h2>
	</div><br>

		<div id="Matrix_dashboard" class="Matrix_dashboard">
			<div id="index_pos" class="index_pos">
				<p class="numero_met_top" id="numero_met">ROWS --> METHODOLOGIES</p>
				<p class="numero_met_top" id="numero_top">COLUMNS --> TOPICS </p>
			</div>
			<div id="matriz"></div>
			<div id="articulos_top" class="articulos">
							<p class="titulo_met_top" id="titulo_met">Nothing selected</p>
							<p class="titulo_met_top" id="titulo_top"></p>
							<ul id="lista_articulos">
							</ul>
			</div>
			<h4>Article's volume</h4>
			<div class="articulos_grafica" id="volumen_articulos"></div>
			<span id="help_matrix_icon" class="glyphicon glyphicon-question-sign help_matrix_icon"></span>
			<div class="help_matrix">
				<h3>¡Relevant info!</h3>
				<p>Each article in the corpus is represented as a weighted sum of combinations of topic + methodology. 
                                   This means that each article adds a total weight of 1.0 to the matrix, split among one or more cells.
                                   This weights are then added over the entire corpus and the intensity of the color represents the total sum of weights for a particular cell.
                                   On the right we can find the top 10 articles with heavier weight for each particular cell.<br>
                                   Based on: <a href="http://www.jmlr.org/papers/volume3/blei03a/blei03a.pdf" target="_blank"> LDA Article</a></p>

			</div>
		</div><br>
		<div id="matriz_prueba">

		</div>
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#descripcion_metodologias_tab">Methodologies description</a>
			 <div id="notification_metho" class="notification_metho">0</div>
			</li>
			<li><a data-toggle="tab" href="#descripcion_topicos_tab">Topics description</a>
			 <div id="notification_topic" class="notification_topic">0</div>
			</li>
			<!--<li><a data-toggle="tab" href="#topicos_tiempo_tab">Tópicos en el tiempo</a></li>
			<li><a data-toggle="tab" href="#metodologias_tiempo_tab">Metodologías en el tiempo</a></li>-->
		</ul>
		<div class="tab-content">
			<span id="help_lda_icon" class="glyphicon glyphicon-question-sign help_lda_icon"></span>
			<div id="help_lda" class="help_lda">
			<!--<span id="close_help_lda_icon" class="glyphicon glyphicon-remove-sign close_help_lda_icon"></span>-->

			</div>
			<div id="descripcion_metodologias_tab" class="tab-pane fade in active">
				<div id="descripcion_metodologias" class="graficas_lda"></div>
			</div>
			<div id="descripcion_topicos_tab" class="tab-pane fade">
				<div id="descripcion_topicos" class="graficas_lda"></div>
			</div>
			<div id="topicos_tiempo_tab" class="tab-pane fade">
				<div id="topicos_tiempo" class="graficas_barras" style="height: 600px; width: 1000px; margin:0 auto;"></div>
			</div>
			<div id="metodologias_tiempo_tab" class="tab-pane fade">
				<div id="metodologias_tiempo" class="graficas_barras" style="height: 600px; width: 1000px; margin:0 auto;"></div>
			</div>
		</div>
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ldavis_modified.js' %}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
{% endblock %}
